<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <title>About Keanu Reeves</title>
    <link rel="stylesheet" href="/stylesheets/stylesheets.css" />
  </head>

  <body class="about-body">
    
    <h1>About Keanu Reeves</h1>

    <img alt="keanu reeves picture" src="/images/keanu-reeves-about-png.jpg">
    
    <p>
      Nascido em Beirute, no Líbano, é filho da figurinista e performer britânica Patricia Taylor e do geólogo <br>
      sino-americanoSamuel Nowlin Reeves Jr. <br> <br>

      Seu nome de batismo foi dado em homenagem a um tio bisavô e tem significado poético: Keanu significa <br>
      "Brisa fresca sobre as montanhas" ou, numa tradução mais fiel ao havaiano "a Brisa".[6] Além da irmã <br>
      chamada Kim, Keanu tem duas meio-irmãs. Uma é Karina, filha do terceiro casamento de Patricia com Robert <br>
      Miller. A outra é Emma, filha de um outro relacionamento de Samuel Reeves. <br><br>
      
      Antes de ser figurinista, sua mãe Patricia Taylor trabalhava como dançarina e performer num clube noturno <br>
      no Líbano quando conheceu Samuel. Os dois se casaram rapidamente e de forma impulsiva. Samuel Reeves viajava <br>
      muito a trabalho e, após uma de suas muitas viagens aos Estados Unidos, não voltou mais ao Líbano, caracterizando <br>
      o abandono do lar. O casamento de Patricia Taylor e Samuel Reeves estava terminado, mas Samuel ainda manteve <br>
      algum contato com Keanu e Kim durante a infância e depois não deu mais notícias. A família só veio a saber dele <br>
      quando Keanu já era adulto e famoso. Samuel cumpriria 2 anos de uma sentença de 10 na prisão em 1992 por vender <br>
      heroína num aeroporto do Hawai, nos Estados Unidos. <br> <br>
      
      Keanu teve experiências diferentes dadas pelos vários pais que entraram na família Reeves. Em 1969 Patricia, Keanu <br>
      e Kim deixaram o Líbano e mudaram-se para Nova Iorque, em busca de um recomeço. Patricia casou-se uma segunda vez com <br>
      Paul Aaron, diretor na Broadway, e foram então para Toronto, no Canadá, onde adquiriram a cidadania canadense.[2] O <br>
      casamento durou apenas um ano e não tiveram filhos, mas até hoje Paul Aaron continua sendo a figura paterna escolhida <br>
      por Keanu. O ator cresceu nessa cidade. Patricia teria mais dois casamentos: um com um promotor de rock, Robert Miller, <br>
      pai de Karina, meia-irmã, e depois com um dono de um salão de cabeleireiros, Jack Bond.[2] Ela deixou o ofício de dançarina, <br>
      tornou-se costureira e logo evoluiu para figurinista. Fez disso sua profissão de sucesso, criando figurinos para artistas <br>
      como Dolly Parton, Emmylou Harris e David Bowie. Nessa época, Patricia trabalhava muito para manter os filhos e por diversas <br>
      vezes os deixava com amigos e com amas. Um desses amigos foi o roqueiro Alice Cooper[7][8][9] que, durante um tempo, morou <br>
      na casa de Patricia.[7][9] Contou que Keanu, em criança, não se assustava com os tipos estranhos que andavam por sua casa, <br>
      que adorava ver os ensaios da banda e ficava batendo as mãozinhas no baixo para ouvir o som. Cooper também revelou que muitas <br>
      vezes se juntava a Keanu para assustar a empregada, fazendo vômito falso. <br> <br>
      
      Hockey e teatro eram seus interesses reais. Keanu jogava como goleiro e era tão bom que o seu apelido era “a parede”, porque nada <br>
      passava por ele. Keanu foi eleito o jogador mais importante da equipe e em certo ponto até quis seguir carreira na liga oficial. Não <br>
      conseguia adaptar-se à escola. Não era um aluno ruim, mas nunca se destacava em nenhuma matéria, e sofria por ser disléxico, transtorno <br>
      com o qual só foi conseguir lidar já adulto.[10] Também tinha dificuldades em se relacionar com colegas e professores.
    </p>

    <div>
      Information retrieved from his <a href="https://pt.wikipedia.org/wiki/Keanu_Reeves">Wikipedia</a>
    </div>
  
    <a href="/home">Back to Home</a>
  
  </body>

</html>
